
<h1>Create a New Figure</h1>
<form method="POST" action="/figures">
<label><strong>Name</strong></label><input type="text" name="figure[name]" id="figure_name"><br><br>
<label><strong>Titles</strong></label><br>

<>


</form>